<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">{{ header }}</h1>
  
  <div *ngIf="titre; then unTitre; else pasTitre">
    <h1 style="text-align:center">Ne parait jamais</h1>
  </div>

  <ng-template #unTitre>
    <h2 style="text-align:center">{{ titre }}</h2>
  </ng-template>

  <ng-template #pasTitre>
    <h2 style="text-align:center">oh oh! Il n'y a pas de titre!</h2>
  </ng-template>

  <!-- <input #lettres value="Manny Henri" (keyup)="0">
  <h3>{{ lettres.value }}</h3> -->

  <input #lettres (keyup)="0">
  <h2 [class.parfait]="nomberLetter('parfait')">{{lettres.value.length}}</h2>
  <!-- <h3 [ngClass]="lettres.value.length > 20 ? 'trops' : 'parfait'">{{ lettres.value.length }}</h3> -->

  <!-- <ul [ngSwitch]="person">
    <li *ngSwitchCase="'Tatum'">Allo mon nom est Tatum</li>
    <li *ngSwitchCase="'Anet'">Bonjour, je m'appelle Anet</li>
    <li *ngSwitchCase="'Pippa'">Allo, je m'appelle Pippa</li>
  </ul> -->
</div>

